*{
    margin: 0;
    padding:0;
    box-sizing:boarder-box;
}
html,body{
    height:100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color:white;
}
#nav a{
    color: rgb(1, 1, 1);
    text-decoration: none;
    margin-right: 20px;
    margin-left: 20px;
    font-size: 20px;
}
#nav{
    background-color: white;
    padding-bottom: 20px;
    padding-top: 20px;
}
h1{
    font-size: 300px;
    font-weight: 300;
    text-align: center;
    background-color:white;
    color: black;
}
#child2{
    width: 300px;
    margin-left: 50px;
    margin-top: 20px;
    background-color:white;
    color: black;
    h2{
        padding-bottom: 10px;
        padding-top: 10px;
    }
}
#child3{
    color: black;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    margin-left: 50px;
    margin-top: 50px;
}
#main> img{
    position:absolute;
    height:300px;
}
#first{
    top: 40%;
    left:45%
}
#second{
    top:35%;
    left:58%;
}
#fourth{
    top: 50%;
    left: 30%;

}